@{
    ViewData["Title"] = "Libray and Reviews";
}

<div class="text-center">
    <h1 class="display-4">Library and Reviews!</h1>
    <p>This is the assignemnt project for COMP2084G at Lakehead-Georgian, where users can review books in a digital library!</p>
</div>
